In [38]:
import numpy as np
import pickle
import pandas as pd
from sqlalchemy import create_engine
from dateutil import parser
import os, errno, sys


proj_path = "/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/"
# This is so Django knows where to find stuff.
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "manatwee.settings")
sys.path.append(proj_path)

# This is so my local_settings.py gets loaded.
os.chdir(proj_path)

# This is so models get loaded.
from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()

from twttr.models import *
from critic.models import *

from django.db.models import Q
userdict = {n.name: n for n in TwitterUser.objects.all() }
ntwkdict = {n.name: n for n in Network.objects.all() }
showdict = {n.name: n for n in Show.objects.all() }


def add_df(tablename):
    engine = create_engine('postgresql://sanjeev:Daconia4$@localhost/manatweedb')
    db = pd.read_sql_table(tablename,engine)
    TV_PATH = '/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/utils/picklejar/TV_new.pickle'
    with open(TV_PATH, 'rb') as handle:
        TV = pickle.load(handle)
    if tablename=='twttr_twitteruser':
        TV.username.index = range(len(TV.username))
        userspickles = pd.DataFrame(TV.username.unique(),index=range(len(TV.username.unique())))
        userdb = db.name
        ds1 = set([ tuple(line) for line in userspickles.values.tolist()])
        ds2a = [[x] for x in userdb.values.tolist()]
        ds2 = set([ tuple(line) for line in ds2a])
        ds1.difference(ds2)
        users_add=pd.DataFrame(list(ds1.difference(ds2)))
        if len(users_add) ==0:
            print "False"
        else:
            return users_add
    
    
    if tablename=='twttr_show':
        TV.show.index = range(len(TV.show))
        showpickles = pd.DataFrame(TV.show.unique(),index=range(len(TV.show.unique())))
        showpickles=showpickles[0].apply(lambda x:x.replace('_',' ')).to_frame()
        showdb = db.name
        ds1 = set([ tuple(line) for line in showpickles.values.tolist()])
        ds2a = [[x] for x in showdb.values.tolist()]
        ds2 = set([ tuple(line) for line in ds2a])
        ds1.difference(ds2)
        shows_add=pd.DataFrame(list(ds1.difference(ds2)))
        if len(shows_add)==0:
            print "False"
        else:
            return shows_add
    if tablename=='twttr_network':
        TV.ntwk.index = range(len(TV.ntwk))
        ntwkpickles = pd.DataFrame(TV.ntwk.unique(),index=range(len(TV.ntwk.unique())))
        ntwkpickles=ntwkpickles[0].apply(lambda x:x.replace('_',' ')).apply(lambda x:x.upper()).to_frame()
        ntwkdb = db.name
        ds1 = set([ tuple(line) for line in ntwkpickles.values.tolist()])
        ds2a = [[x] for x in ntwkdb.values.tolist()]
        ds2 = set([ tuple(line) for line in ds2a])
        ds1.difference(ds2)
        ntwk_add=pd.DataFrame(list(ds1.difference(ds2)))

        if len(ntwk_add)==0:
            print "False"
        else:
            return ntwk_add
    
        
    
def InsertUser(df):
    if len(df)>0:
        for i in range(len(df)):
            user = TwitterUser(name=df[0].iloc[i])
            try:
                user.save()
            except:
                print 'inserting user ' + user.name + ' has failed!'
    else:
        return "this has failed, empty dataframe"


def InsertShow(df):
    if len(df)>0:
        for i in range(len(df)):
            show = Show(name=df[0].iloc[i])
            try:
                show.save()
            except:
                print 'inserting show ' + show.name + ' has failed!'
    else:
        return "this has failed, empty dataframe"
    

def InsertNetwork(df):
    if len(df)>0:
        for i in range(len(df)):
            ntwk = Network(name=df[0].iloc[i])
            try:
                ntwk.save()
            except:
                print 'inserting show ' + ntwk.name + ' has failed!'
    else:
        return "this has failed, empty dataframe"

def InsertContent():
    TV_PATH = '/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/utils/picklejar/TV_new.pickle'
    userdict = {n.name: n for n in TwitterUser.objects.all() }
    ntwkdict = {n.name: n for n in Network.objects.all() }
    showdict = {n.name: n for n in Show.objects.all() }
    with open(TV_PATH, 'rb') as handle:
        TVpkl = pickle.load(handle)
    TVdb = pd.read_sql_table('twttr_twittercontent',engine)
    add_TV=TVpkl[TVpkl.datetime>max(TVdb.timeoftweet)]
    print 'adding %f new entries...' % (len(add_TV))
    for i in range(len(add_TV)):
        print i
        try:
            tweet = TwitterContent(name=userdict[add_TV.iloc[i].username.replace('_',' ')],show=showdict[add_TV.iloc[i].show.replace('_',' ')],network=ntwkdict[add_TV.iloc[i].ntwk.replace('_',' ').upper()],timeoftweet=add_TV.iloc[i].datetime,sentiment=add_TV.iloc[i].sentiment,text=add_TV.iloc[i].tweet)
            print tweet
            if i % 1000 == 0:
                print i
        except:
            print "FAILED: " + add_TV.iloc[i].tweet

In [78]:
TV_PATH = '/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/utils/picklejar/TV_new.pickle'
TV_PATH_old = '/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/utils/picklejar/TV_old.pickle'
with open(TV_PATH, 'rb') as handle:
    newTV = pickle.load(handle)
with open(TV_PATH_old, 'rb') as handle:
    oldTV = pickle.load(handle)

In [81]:
newTV.datetime.max()

Timestamp('2017-12-06 18:51:36')

In [82]:
oldTV.datetime.max()

Timestamp('2017-12-04 18:07:59')

In [85]:
addTV=newTV[newTV.datetime>max(oldTV.datetime)]

In [91]:
addUsers=addTV.username.unique()

In [100]:
addTV.username.index = range(len(addTV.username))
userpickles = pd.DataFrame(addTV.username.unique(),index=range(len(addTV.username.unique())))
userpickles=userpickles[0].apply(lambda x:x.replace('_',' ')).apply(lambda x:x).to_frame()
db = pd.read_sql_table('twttr_twitteruser',engine)
userdb = db.name
ds1 = set([ tuple(line) for line in userspickles.values.tolist()])
ds2a = [[x] for x in userdb.values.tolist()]
ds2 = set([ tuple(line) for line in ds2a])
ds1.difference(ds2)
users_add=pd.DataFrame(list(ds1.difference(ds2)))

In [99]:
userpickles

                     0
0      DannyTheWildBoy
1       shannon mcgrew
2      ChafLovesCheese
3        phil marriott
4        brianjwilson4
5       RyersonHeights
6       AmyGlobensky24
7       officialstairs
8            104Irving
9              veepism
10       JimJimdemario
11     thankswordpress
12     DistributeMusic
13      usagivingtoday
14        AudreyHGreen
15       shop4autistic
16        maureenrferg
17              sn0ffe
18         TravisRuger
19       LoganMarshall
20         tjbrightman
21     UNreal Donald T
22         jamesjimcie
23         MeanMusings
24            Morgosue
25       CaitlinHamer3
26        exportbrasil
27          CarolMaeWY
28              amfhTX
29       shannoonigans
...                ...
13519        DeanJC420
13520      JohnyGodace
13521   ConstructConnx
13522     ERAFreemanOR
13523   dwaynethomas11
13524         AllProRE
13525       blueefoxxx
13526     BerthaEgbert
13527   DrLindaShelton
13528       betseyross
13529      AlbertLeRoi
13530  CookieJarJunkie
13531  HOPE4THE FUTURE
13532  HealthyAmerica1
13533      isnishak118
13534      SheilaKrohn
13535      evenkeelops
13536  SnowFlakeHenta1
13537   SteffieVicente
13538           Z5EBRA
13539      chrisbalmes
13540      GioLovesYou
13541    ColumbiaGSAPP
13542    annietustian7
13543     cadeahlijian
13544  Isabellesilver
13545  simonph45215945
13546       GUDCapital
13547  KennedyClemente
13548   tylerrossmeyer

[13549 rows x 1 columns]

In [93]:
TwitterUser.objects.get(name=addUsers[0])

In [92]:
addUsers[0]

'DannyTheWildBoy'