In [1]:
import tensorflow as tf

In [3]:
import os, errno, sys
from bs4 import BeautifulSoup
from requests import get
from textblob import TextBlob
import pandas as pd
from pyteaser import Summarize
from django.utils.encoding import smart_str, smart_unicode


proj_path = "/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/"
# This is so Django knows where to find stuff.
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "manatwee.settings")
sys.path.append(proj_path)

# This is so my local_settings.py gets loaded.
os.chdir(proj_path)

# This is so models get loaded.
from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()

from twttr.models import *
from critic.models import *
from RNN.models import *
from django.contrib.auth.models import *

In [4]:
#things to do : limit vocabulary size
data = RNNCriticData.objects.all()

In [11]:
df = pd.DataFrame(list(data.values()))

In [20]:
df

,id,markedsentiment,review_id,timestamp,user_id,movie
0,1,1,78,2018-01-12 06:00:36.825773+00:00,1,
1,4,1,78,2018-01-12 17:49:11.576224+00:00,1,
2,5,1,269,2018-01-12 18:26:57.536567+00:00,2,
3,6,1,269,2018-01-12 18:27:00.427371+00:00,2,
4,7,1,192,2018-01-12 18:27:05.958361+00:00,2,
5,8,1,177,2018-01-12 18:27:08.815082+00:00,2,
6,9,1,177,2018-01-12 18:34:29.963652+00:00,2,
7,10,1,177,2018-01-12 18:35:22.403014+00:00,2,
8,11,1,269,2018-01-12 18:35:48.689889+00:00,2,
9,12,1,269,2018-01-12 18:36:48.153585+00:00,2,
10,13,0,269,2018-01-12 18:36:58.524229+00:00,2,
11,14,0,269,2018-01-12 18:43:26.442509+00:00,2,
12,15,0,171,2018-01-12 18:43:38.855694+00:00,2,
13,16,0,171,2018-01-12 18:46:19.108520+00:00,2,
14,17,0,171,2018-01-12 18:46:35.950239+00:00,2,
15,18,0,171,2018-01-12 18:47:54.634552+00:00,2,
16,19,0,192,2018-01-12 18:57:33.529075+00:00,2,
17,20,0,192,2018-01-12 18:57:33.680912+00:00,2,

df

In [22]:
df['movie'] = df.review_id.apply(Reviews.objects.get().movie)

MultipleObjectsReturned: get() returned more than one Reviews -- it returned 278!

In [25]:
Reviews.objects.get(id=78).movie

In [46]:
def getmovie(x):
    x['movie'] = int(x['review'])
    
    return x

In [55]:
for x in df.iterrows():
    x.movie = x.review_id

AttributeError: 'tuple' object has no attribute 'review_id'