In [2]:
import os, errno, sys
from bs4 import BeautifulSoup
from requests import get
from textblob import TextBlob
import pandas as pd
from pyteaser import Summarize
from django.utils.encoding import smart_str, smart_unicode


proj_path = "/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/"
# This is so Django knows where to find stuff.
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "manatwee.settings")
sys.path.append(proj_path)

# This is so my local_settings.py gets loaded.
os.chdir(proj_path)

# This is so models get loaded.
from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()

from twttr.models import *
from critic.models import *

In [22]:
last = len(TwitterContent.objects.filter(show=Show.objects.get(name='the post')))
a=[x.text for x in TwitterContent.objects.filter(show=Show.objects.get(name='the post'))[last-11:last-1]]

In [20]:
TwitterContent.objects.filter(show=Show.objects.get(name='the post'))[1922].timeoftweet

datetime.datetime(2018, 1, 8, 20, 11, 24, tzinfo=<UTC>)

In [24]:
b=TwitterContent.objects.filter(show=Show.objects.get(name='the post'))[last-11:last-1]

In [23]:
a[0]

u'REVIEW ThePost is a tale that weaponizes nostalgia'

In [31]:
b[0].name.name

u'MiamiNewTimes'

In [32]:
b[0].timeoftweet

datetime.datetime(2018, 1, 8, 20, 35, tzinfo=<UTC>)

In [41]:
movie_list = Show.objects.filter(network=Network.objects.get(name='MOVIES'))

In [42]:
movie_list

<QuerySet [<Show: phantom thread>, <Show: the post>, <Show: last jedi>, <Show: dunkirk>, <Show: jumanji welcome to the jungle>, <Show: mollys game>, <Show: call me by your name>, <Show: lady bird>, <Show: all the money in the world>, <Show: ladybird>, <Show: the greatest showman>, <Show: three billboards>, <Show: pitch perfect 3>, <Show: star wars the last jedi>]>

In [40]:
Show.objects.filter(name='star wars the last jedi')[0].network

In [55]:
Reviews.objects.filter(movie=Movie.objects.get(name='The Post'))[0].review_polarity

u'0.0936237373737'

In [50]:
Movie.objects.all()

<QuerySet [<Movie: The Dancer>, <Movie: Big Time>, <Movie: Naples '44>, <Movie: Bill Frisell: A Portrait>, <Movie: Bombshell: The Hedy Lamarr Story>, <Movie: The Disaster Artist>, <Movie: Cuba and the Cameraman>, <Movie: Loveless>, <Movie: Voyeur>, <Movie: The Tribes of Palos Verdes>, <Movie: The New Radical>, <Movie: 32 Pills: My Sister's Suicide>, <Movie: Love Beats Rhymes>, <Movie: Rosa Chumbe>, <Movie: The Shape of Water>, <Movie: The Other Side of Hope>, <Movie: Sins of the Flesh>, <Movie: Shadowman>, <Movie: Wonder Wheel>, <Movie: Eric Clapton: Life in 12 Bars>, '...(remaining elements truncated)...']>

In [56]:
df = pd.DataFrame(list(Reviews.objects.all().values()))

In [62]:
df[['movie_id','review_polarity']].groupby('movie_id').sum()

                                            review_polarity
movie_id
1                                           0.0869724958949
2                                          -0.0212830273175
3                                            0.177243589744
4                             0.07654987373740.180925039872
5                                            0.119481444481
6                              0.05637057387060.10334202383
7                              0.08611549861550.12320700904
8                                         -0.00691367456073
9                             0.03645506792060.134937384045
10                                           0.171313131313
11                                         -0.0284090909091
12                                           0.192497519841
13                                           0.147904761905
14                                                  0.03125
15                             0.1598080351020.109996269513
16                           0.02231052529560.0798033526757
17                                           0.139814814815
18                                           0.168584133258
19                            0.05121672771670.133166104141
20                                          0.0272250566893
21                                          0.0722508345528
22                                         -0.0336087275819
23        0.1877385577390.1236449705150.1542594976860.08...
24                                           0.139295392954
25        0.1518383096650.1238911063450.148288322450.073...
26           0.00123642081189-0.04835858585860.070119047619
27                                         -0.0444003527337
28                                          0.0802757349745
29                                          0.0731673881674
30                                          0.0371620583717
...                                                     ...
145                                          0.150726791727
146                                          0.063921583467
147                                         0.0260264987538
148                                          0.177760324332
149                                         0.0586291125541
150                                          0.307779049564
151                                          0.155431185976
152                                         0.0660890848086
153                                          0.109922936259
154                                         0.0315582482993
155                                          0.111621831944
156                                         0.0721980255517
157                            0.1488044363040.085472275951
158                                         0.0542079389537
159                                          0.070791005291
160                                          0.063905211301
161                                         0.0623063973064
162                                          0.126356872294
163                                          0.175641025641
164                           0.1020620490620.0855264987538
165                                         0.0479256854257
166                                        -0.0112163299663
167                                         0.0997204184704
168                                          0.266001253133
169                                         0.0797824180177
170                                          0.164443807826
171                                          0.115423171105
172                                         0.0723761423761
173                                          0.148014520202
174                                          0.051868171511

[174 rows x 1 columns]

In [65]:
df.movie_id[df.groupby('movie_id').size()>2]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [67]:
df.set_index(df.movie_id,inplace=True)

In [77]:
import numpy as np

In [79]:
df[df.groupby('movie_id').size()>2].groupby(['movie_id']).agg([np.sum,np.std,np.mean])

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: 'movie_id' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  if __name__ == '__main__':
/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

         critic_id                          id                         \
               sum        std       mean   sum        std        mean
movie_id
23             115  16.459546  28.750000   612  65.696271  153.000000
25             166  20.547506  33.200000   845  70.883708  169.000000
26              67  18.009257  22.333333   300  21.377558  100.000000
31              88  27.153882  29.333333   493  75.513796  164.333333
34              84  24.879711  28.000000   411  74.538581  137.000000
42              77  14.294521  25.666667   385  31.342197  128.333333
44             168  22.634045  33.600000   804  56.077625  160.800000
58              80  18.147543  26.666667   479  20.840665  159.666667
59              64  18.556221  21.333333   442  12.096832  147.333333
65             148  22.568415  37.000000   715  44.731607  178.750000
67             173  20.181675  34.600000   918  42.582860  183.600000
79             169  20.813457  33.800000  1027  27.245183  205.400000
83              64  18.009257  21.333333   582   9.000000  194.000000
86             185   6.652067  46.250000   858  36.198527  214.500000
87              65  17.039171  21.666667   588   7.549834  196.000000
100            129  13.747727  43.000000   696  30.512293  232.000000
111             99  27.221315  33.000000   701  15.885003  233.666667
134            133  21.126603  44.333333   793   2.081666  264.333333

         organization_id
                     sum       std      mean
movie_id
23                    12  1.825742  3.000000
25                    18  2.073644  3.600000
26                     7  1.527525  2.333333
31                     9  2.645751  3.000000
34                     7  1.527525  2.333333
42                     7  1.527525  2.333333
44                    18  2.073644  3.600000
58                     8  2.081666  2.666667
59                     7  1.527525  2.333333
65                    16  2.160247  4.000000
67                    18  2.073644  3.600000
79                    18  2.073644  3.600000
83                     7  1.527525  2.333333
86                    12  1.825742  3.000000
87                     7  1.527525  2.333333
100                   11  1.527525  3.666667
111                   11  2.516611  3.666667
134                   11  1.527525  3.666667

In [93]:
grouped = df[df.groupby('movie_id').size()>2]

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: 'movie_id' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  if __name__ == '__main__':
/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [94]:
grouped['review_polarity'] = grouped['review_polarity'].apply(float)
grouped['review_subjectivity'] = grouped['review_subjectivity'].apply(float)

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [101]:
review_stats_df = grouped[['review_polarity','review_subjectivity']].groupby(['movie_id']).agg([np.std,np.mean])

In [102]:
review_stats_df['movie_name'] = ''

In [121]:
movie_names = []
for index,row in review_stats_df.iterrows():
    movie_name = Movie.objects.get(id=index).name
    movie_names.append(movie_name)

In [123]:
review_stats_dfd['movie_name'] = movie_names

         review_polarity           review_subjectivity            \
                     std      mean                 std      mean
movie_id
23              0.045089  0.136857            0.014547  0.509172
25              0.034228  0.118195            0.044710  0.472089
26              0.059500  0.007666            0.053485  0.544464
31              0.058490  0.166544            0.083347  0.485289
34              0.009971  0.052081            0.055218  0.472863
42              0.097687  0.040227            0.063725  0.490595
44              0.072148  0.100686            0.064923  0.503714
58              0.032819  0.012113            0.027299  0.498246
59              0.045947  0.055163            0.076282  0.463544
65              0.029597  0.144467            0.045376  0.472350
67              0.053912  0.218218            0.020849  0.537232
79              0.027912  0.101860            0.025295  0.506905
83              0.061910  0.100877            0.011925  0.573046
86              0.075732  0.169214            0.042235  0.478474
87              0.084238  0.027080            0.047124  0.427748
100             0.061979  0.052847            0.027274  0.505734
111             0.086571  0.024060            0.070519  0.590209
134             0.016946  0.066709            0.034244  0.484493

                               movie_name

movie_id
23                         Phantom Thread
25                               The Post
26                            Bullet Head
31                              Ferdinand
34                           Kaleidoscope
42                   Just Getting Started
44         Jumanji: Welcome to the Jungle
58        Birdboy: The Forgotten Children
59                              Permanent
65               Star Wars: The Last Jedi
67                        Pitch Perfect 3
79             All the Money in the World
83                                 Bright
86                   The Greatest Showman
87                                Hangman
100                          The Commuter
111                        Father Figures
134               Insidious: The Last Key

In [131]:
df['review_polarity'] = df['review_polarity'].apply(float)
df['review_subjectivity'] = df['review_subjectivity'].apply(float)

In [135]:
df.describe()

,critic_id,id,movie_id,organization_id,review_polarity,review_subjectivity
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,32.520492,185.323770,80.040984,3.139344,0.090944,0.480850
std,21.400636,83.055572,48.255305,2.044024,0.066249,0.053483
min,2.000000,1.000000,1.000000,1.000000,-0.069872,0.332596
25%,10.000000,131.750000,38.750000,1.000000,0.051536,0.438139
50%,37.000000,192.500000,76.500000,2.000000,0.087937,0.483521
75%,49.250000,253.250000,119.250000,5.000000,0.131191,0.518816
max,71.000000,314.000000,174.000000,7.000000,0.307779,0.637179